docker/
.venv/*
.idea/*
docker-compose.yaml
Dockerfile
env/*
cache/
venv/*
static/tts/*
static/s3_download/*
.git/
static/ai_pet_doctor
/temp

*.jpg
*.png
*.mp3
*.wav
*.mp4
*.avi
*.pth
*.dat
*.onnx
*venv*
*.zip
*core.*